{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/amaran.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/showLoading.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<form id="dummy_form">{% csrf_token %}</form>
{% block content %}
{% endblock %}
{% include 'footer.html' %}

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.amaran.min.js' %}"></script>
<script src="{% static 'js/add_to_cart.js' %}"></script>
<script src="{% static 'js/delete_from_cart.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>

{% block js %}
  <script>
    /***
     * открываем подкатегорию в мобильном меню
     **/
    function openSubcategory(el){
        console.log(el)
        let allSubCats = document.getElementsByClassName('mobile-sub-categories-wrapper')
        for (x of allSubCats){
            x.classList.remove('sub-active')
        }
        el.classList.add('sub-active')
    }
    /***
     * открываем категорию в мобильном меню
     **/
    function openCategory(el){
        console.log(el)

        let allCats = document.getElementsByClassName('mobile-main-categories-wrapper')
        for (x of allCats){
            x.classList.remove('main-active')
        }

        el.classList.add('main-active')
    }
    /***
     * открываем и закрываем мобильное меню
     **/
    function toggleMenu() {
        let menu = document.getElementsByClassName('header-mobile-menu')[0]
        menu.classList.toggle('mobile-menu-active')
    }
</script>
<script>
    /***
     *
     * открываем и закрываем меню корзины
     */
    let cart = document.getElementById("shopping-bag");
    let cart_menu = document.getElementById("shopping_bag_menu");
    function showcart() {
        console.log('enter')
        cart_menu.style.display = 'block'
        cart_menu.classList.add('slide-top')

    }
    function hidecart() {
        cart_menu.style.display = 'none'

    }
    cart.addEventListener("mouseenter", showcart, false);
    cart_menu.addEventListener("mouseleave", hidecart, false)
</script>
<script>
    /**
     * каталог товаров
     */
    let menu_items = document.getElementsByClassName('categories-nav-item')
    let menu_items_link = document.getElementsByClassName('categories-nav-item-link')
    let sub_menus = document.getElementsByClassName('categories-nav-dropdown')
    let menu_id = ''
    let li_id = ''
    console.log( menu_items)

    for (var i = 0; i < menu_items.length; i++){
        menu_items[i].addEventListener("mouseover", function( event ) {
            menu_id = event.target.dataset.menu_id
            li_id = event.target.dataset.li_id
            let menu = document.getElementById('menu_id_'+menu_id)
            menu.classList.add('menu-active')
            event.target.classList.add('hover')
            console.log(menu)
        })
    }

    for (var i = 0; i < menu_items.length; i++){
        menu_items[i].addEventListener("mouseout", function( event ) {
            event.target.classList.remove('hover')
            let menu = document.getElementById('menu_id_'+menu_id)
            console.log('related= '+ (event.relatedTarget.classList))
            if (event.relatedTarget.classList != 'categories-nav-dropdown menu-active'){
                console.log('close')
                menu.classList.remove('menu-active')
            }else{
                console.log('not close')
                let li = document.getElementById('li_id_'+menu_id)
                li.classList.add('li-before')
            }
        })
    }
    for (var i = 0; i < sub_menus.length; i++){
        sub_menus[i].addEventListener("mouseover", function( event ) {
            console.log('menu over')
            let li = document.getElementById('li_id_'+menu_id)
            li.classList.add('hover')


        })
    }
    for (var i = 0; i < sub_menus.length; i++){
        sub_menus[i].addEventListener("mouseleave", function( event ) {
            console.log('menu out')
            let li = document.getElementById('li_id_'+menu_id)
            li.classList.remove('hover')
            let menu = document.getElementById('menu_id_'+menu_id)
            menu.classList.remove('menu-active')
            li.classList.remove('li-before')
        })
    }
</script>
{% endblock %}
</body>
</html>